.timeline {
  margin-top: 5px;
  margin-bottom: 8px;
}

.timeline-li {
  padding-top: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
  padding-left: 10px;
}

.timeline-image {
  width: 44px;
  height: 44px;
  border-radius: 4px;
}

.timeline-date {
  float: right;
  font-size: 10px;
  opacity: 0.35;
}

.timeline-name {
  font-size: 15px;
  font-weight: 500;
}

.timeline-id {
  float: right;    
  font-size: 10px;
  opacity: 0.4;
}

.timeline-message {
  margin-top: 0;
  font-size: 14px;
  opacity: 1;
  line-height: 1.5;
}

div.timeline-message p {
    margin: 0.2em;
}